// custom variables
$primary: #5265E1;
$secondary: #FA5959;

@import url("http://fonts.googleapis.com/css?family=Inter:300,400,500,600,700");

.nopadding {
    padding: 0 !important;
    margin: 0 !important;
}

body {
    font-family: 'Inter', sans-serif !important;
    color: #1D2441 !important;
}

.lettering {
    letter-spacing: 0.20em;
}

// buttons

.button-size {
    font-size: 14px !important;
    font-weight: 500 !important;
}

.btn-primary:hover {
    background-color: white !important;
    color: $primary !important;
    border: 1px solid $primary !important;
}

.btn-secondary:hover {
    background-color: white !important;
    color: $secondary !important;
    border: 1px solid $secondary !important;
}

.btn-light:hover {
    background-color: white !important;
    color: #1D2441 !important;
    border: 1px solid #1D2441 !important;
}

a.colortext:hover {
    color: $secondary !important;
}

.social-icon {
    fill: white;
}

.social-icon:hover {
    fill: $secondary;
}

// images overlap and rotate

.img-overlap {
    position: relative;
    overflow: hidden;
    margin: 0 auto;
}

.img-hero {
    height: 466px;
}

.img-tab {
    height: 356px;
}

.img-move {
    position: absolute;
}

.img-bottom {
    bottom: 0;
    width: 55%;
}

.img-right {
    right: 0;
}

.img-left {
    left: 0; 
}

.rotated {
    transform: rotate(180deg);
  }

// tabs

.nav-tabs .nav-link {
    color: #7E7E86;
}

.nav-tabs {
    border-bottom: none !important;
}

.nav-tabs .nav-link.active, .nav-tabs .nav-item.show .nav-link {
    color: $secondary;
    background-color: white;
    border-color: $secondary !important;
    border-bottom: 5px solid;
    border-top: none;
    border-left: none;
    border-right: none;
}

.nav-tabs .nav-link:hover, .nav-tabs .nav-link:focus {
    border: white !important;
    color: $secondary;
}

.grey-border-b {
    border-bottom: 1px solid #E0E0EA;
}

.grey-border-t {
    border-top: 1px solid #E0E0EA;
}

.navbar-collapse {
    height: 100vh;
}

// shadows

.btn-shadow {
    box-shadow: 0px 3px 7px rgba(82,102,223,0.30) !important;
}

.cards-shadow {
    box-shadow: 0px 4px 11px rgba(82,102,223,0.15) !important;
}

// cards

.card-border {
    border-radius: 1rem !important;
}

.cardIsa:nth-child(2) {
    margin-top: 30px;
}

.cardIsa:nth-child(3) {
    margin-top: 60px;
}

// accordion

.accordion-item {
    border: none !important;
}

.accordion-button::after {
    background-image: url(../img/icon-arrow.svg) !important;
    background-repeat: no-repeat;
    background-size: 1.25rem;
} 

.accordion-button:not(.collapsed) {
    color: #212529 !important;
    background-color: white !important;
}

.accordion-button:hover {
    color: $secondary !important;
}

// validation

.invalid-tooltip {
    background-color: $secondary !important;
    margin-top: -0.1rem !important;
    width: 100% !important;
    text-align: left !important;
}

// media queries

@media screen and (max-width: 576px) {
    .img-hero {
        height: 300px !important;
    }

    .img-tab {
        height: 250px !important;
    }
    
    .fullwidth {
      width: 100% !important;
    }

    .cardIsa:nth-child(3) {
        margin-top: 30px;
    }
}

  /* When the height of the screen is less than 450 pixels, change the font-size of the links and position the close button again, so they don't overlap */
  @media screen and (max-height: 450px) {
    .overlay a {font-size: 20px}
    .overlay .closebtn {
      font-size: 40px;
      top: 15px;
      right: 35px;
    }
  }

// import bootstrap
@import '../node_modules/bootstrap/scss/bootstrap';