@import url("http://fonts.googleapis.com/css?family=Inter:300,400,500,600,700");


// custom variables
$primary: #5265E1;
$secondary: #FA5959;

body {
    font-family: 'Inter', sans-serif !important;
    color: #1D2441 !important;
}

h1 {
    font-size: 48px !important;
    font-weight: 600 !important;
}

h2 {
    font-size: 32px !important;
    font-weight: 600 !important;
}

h3 {
    font-size: 20px !important;
}

p {
    font-size: 16px !important;
    font-weight: 400 !important;
}

button {
    font-size: 14px !important;
    font-weight: 500 !important;
}

.btn-padding {
    padding: 12px 24px !important;
}

// tabs

.nav-tabs .nav-link {
    color: #7E7E86;
}

.nav-tabs {
    border-bottom: none !important;
}

.nav-tabs .nav-link.active, .nav-tabs .nav-item.show .nav-link {
    border-color: #FC595E !important;
    border-bottom: 5px solid;
    border-top: none;
    border-left: none;
    border-right: none;
}

.nav-tabs .nav-link:hover, .nav-tabs .nav-link:focus {
    border: none !important;
    color: #FC595E;
}

.grey-border-b {
    border-bottom: 1px solid #E0E0EA;
}

.grey-border-t {
    border-top: 1px solid #E0E0EA;
}

// shadows

.btn-shadow {
    box-shadow: 0px 3px 7px rgba(82,102,223,0.30) !important;
}

.cards-shadow {
    box-shadow: 0px 4px 11px rgba(82,102,223,0.15) !important;
}

.card-border {
    border-radius: 1rem !important;
}

// accordion

.accordion-item {
    border: none !important;
}

.accordion-button::after {
    background-image: url(../img/icon-arrow.svg) !important;
    background-repeat: no-repeat;
    background-size: 1.25rem;
} 

.accordion-button:not(.collapsed) {
    color: #212529 !important;
    background-color: #fff !important;
}

.accordion-button:hover {
    color: #FC595E !important;
}

.lettering {
    letter-spacing: 0.20em;
}

// import bootstrap
@import '../node_modules/bootstrap/scss/bootstrap';